# 环境
SERVER_ENV=PROD

# MySQL 连接参数
MYSQL_HOST="127.0.0.1"
MYSQL_PORT=3306
MYSQL_USER="root"
MYSQL_PASSWORD="your password"
MYSQL_DATABASE="e_commerce_spider"

# 并发数控制
MAX_CONCURRENT_TYPE=3
MAX_CONCURRENT_SEARCH=5
MAX_CONCURRENT_DETAIL=2

# 浏览器参数
HEADLESS=False
NO_IMGS=False
NO_JS=False

# sqlalchemy配置
ON_ECHO=False